.container-fluid {
	padding-top: 16px;
}

.data-class {
	padding: 0;
}

.container-fluid {
	padding-left: 0px;
}

.results {
	text-align: right;
	font-weight: bold;
}

.paddig-for-large {
	padding-left: 20%;
	padding-right: 20%;

}
